<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<div ng-app="app">
  <div ng-controller="stuffCtrl">
    {{ message }}
    <div ng-if="isNice(newMesage)" ng-repeat="newMesage in messages">
      <p ng-click="removeMessage($index)">{{newMesage.review}}  - {{newMesage.rating}} - {{newMesage.reviewer}}</p>
    </div>


      <p>review<input ng-model="review"></p>
      <p>rating<input ng-model="rating"></p>
      <p>reviewer<input ng-model="reviewer"></p>
      <button ng-click="addReviewToMessages(review, rating, reviewer)">Add this</button>

  </div>
  {{ 1 + 1 }}
  {{ 2 + 1 }}
</div>
