<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<div ng-app="app">
  <div ng-controller="stuffCtrl">
    {{ message }}
    <div ng-repeat="newMesage in messages track by $index">
      <p>What a great message</p>
      <p>{{newMesage}}</p>
    </div>


      <p><input ng-model="review"></p>
      <button ng-click="addReviewToMessages(review)">Add this</button>

  </div>
  {{ 1 + 1 }}
  {{ 2 + 1 }}
</div>
